# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# ============================================
# Packaging / Build
# ============================================

build/
dist/
*.egg-info/


# ============================================
# Testing / CI
# ============================================

.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# ============================================
# Project artifacts (runtime generated data)
# ============================================

# Generated plot output
# e.g.
# /plots/pdf/
# /plots/png/
# /plots/svg/
/plots/

# developer docs
/docs/

# others
*rr_data.xlsx
*config*.yaml

# Jupyter / experiments
*.ipynb
.ipynb_checkpoints/

# Logs
*.log

# Backups / temp
__bak/

# Manpage artifacts
man/*.gz

# Misc project files
DockerFile_*
__NOTES.md

# ============================================
# OS / IDE
# ============================================

.DS_Store
**/.DS_Store
.vscode/