[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pyyaml = "*"
openpyxl = "*"
xlsxwriter = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
black = "*"
ruff = "*"
coverage = "*"

[requires]
python_version = "3.14"
